html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: "MicroSoft YaHei", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#copyright{
    text-align: center;
    color: transparent;
}